/* Navbar */
.menu-container {
  background: $colour-primary;
  display: flex;
  align-items: center;
  width: 100%;

  .nav-left {
    flex: 1;
  }

  .user-links {
    margin-top: 0.5em;
  }

  .user-links a {
    margin-top: 0.5em;
    color: $colour-dark;
    font-family: $font-secondary;
    font-weight: 600;
    padding-right: 1em;
  }
}

.navbar {
  background: $colour-primary;
  display: flex;
}

/* Dropdown Menu */
.dropbtn {
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: $colour-primary;
  min-width: 210px;
  box-shadow: 8px 8px 20px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content .nav-link {
  display: block;
  font-family: $font-secondary;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: $colour-dark;
  text-transform: uppercase;
  padding: 1.5em 0.5em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .nav-link:hover {
  background: $colour-dark;
  color: $colour-primary;
}

/* Media Queries */
@media only screen and (max-width: $mobile-width) {
  .logo {
    width: 8em;
    margin-left: 0.2em;
  }

  .nav-toggler-icon,
  .nav-icon {
    width: 2.5em;
    padding-right: 0.2em;
  }

  .nav-right {
    margin-right: 0.5em;
  }

  .dropdown-content .nav-link {
    font-size: 1em;
  }
}

@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .logo {
    width: 8em;
    margin-left: 1em;
  }

  .nav-toggler-icon,
  .nav-icon {
    width: 3.5em;
    padding-right: 1em;
  }

  .nav-right {
    margin-right: 0.8em;
  }

  .dropdown-content .nav-link {
    font-size: 1em;
  }
}

@media only screen and (min-width: $desktop-width) {
  .logo {
    width: 9em;
    margin-left: 1em;
  }

  .nav-toggler-icon,
  .nav-icon {
    width: 3.5em;
    padding-right: 1em;
  }

  .nav-right {
    margin-right: 1em;
  }
  
  .dropdown-content .nav-link {
    font-size: 1.1em;
  }
}
